{% extends "base.html" %}

{% block content %}

<section class="section">
    <div class="div1">
        <h2>Know About Your Food : </h2>
        <form method="post" action="/detect" enctype="multipart/form-data">
            <div class="body">
                <input type="file" name="image" class="my-3">
                <button class="btn btn-success">Get Information</button>
            </div>
        </form>

    </div>
    <div class="div2">
        <div class="subdiv1">
            
        <div class="card" style="width: 25rem;">
            {% if data %}
            <img src="{{data.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{data.pred_class}}</h5>
              <p class="card-text"></p>
              <a href="/foodInformation" class="btn btn-primary">Get Information</a>
            </div>

            {% else %}
            <img src="{{ url_for('static', filename='images/dummyFood.png')}}" alt="" srcset="">
            {% endif %}
            
          </div>
        </div>
    </div>
</section>

{% endblock content %}