{% extends "base.html" %}

{% block head %}
    <style>
        .image-container {

            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    </style>
{% endblock head %}

{% block container %}
<div id="carouselExampleCaptions" class="carousel slide py-5 pb-3  bg-tra">
        <img src="{{ url_for('static',filename='images/banner1.jpg') }}" class="gradient-overlay d-block img-fluid w-100" style="z-index: -1;" alt="...">
        <div class="carousel-caption">
          <h3 style="font-weight: 500; ">Foodvision</h3>
          <p>Scan your food to get information!!</p>
          <a type="button" href="/scan" class="btn btn-success px-4 border-1"> Scan </a>
          <a type="button" class="btn btn-info px-4" href="#About"> About </a>
        </div>
  </div>

  <div class="container-fluid " style="height: 35px; background-color: #f2f2f2;"></div>

<!-- About FoodVision - Revolutionizing Culinary Experiences -->
<section class="py-3 py-md-5 py-xl-8" id="About">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="{{ url_for('static',filename='images/banner.webp') }}" alt="">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center mx-auto">
          <div class="col-12 col-xl-11">
            <h2 class="h2 mb-3">Who Are We?</h2>
            <p class="lead fs-5 text-secondary mb-3">Welcome to FoodVision – Revolutionizing Your Culinary Experience! Our mission is to transform the way you perceive and interact with food by introducing cutting-edge technology.</p>
            <p class="mb-5">FoodVision is not just a scanner; it's your personal food companion. Whether you're curious about the nutritional content, seeking exciting recipes, or eager to discover where to get a particular dish, FoodVision has you covered.</p>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                      <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                    </svg>
                  </div>
                  <div>
                    <h4 class="mb-3">Tech-Powered Scanner</h4>
                    <p class="text-secondary mb-0">FoodVision employs state-of-the-art technology to scan food items effortlessly, providing comprehensive nutritional information at your fingertips.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                      <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                    </svg>
                  </div>
                  <div>
                    <h4 class="mb-3">Culinary Exploration</h4>
                    <p class="text-secondary mb-0">Explore a treasure trove of gourmet recipes tailored to your preferences, turning every cooking session into a delightful culinary adventure with FoodVision.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid pb-3" style="height: 35px; background-color: #f2f2f2;"></div>

<!-- whate we're carving  -->
<div class="container-fluid pt-4">
  <h2 class="py-3">WHAT WE'RE CRAVING</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card custom-card-width mt-3">
        <img src="{{ url_for('static',filename='images/desert_image.jpg') }}" alt="Easter Cake" class="card-img custom-image">
        <div class="card-img-top card_body">
          <h5 class="card-title">COLLECTION</h5>
          <p class="card-text">15 Desserts...</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card custom-card-width mt-3">
        <img src="{{ url_for('static',filename='images/snaks.jpg') }}" alt="Springtime Salads" class="card-img custom-image">
        <div class="card-img-top card_body">
          <h5 class="card-title">COLLECTION</h5>
          <p class='card-text'>15 Snacks...</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card custom-card-width mt-3">
        <img src="{{ url_for('static',filename='images/main_dishes.jpg') }}" alt="Springtime Salads" class="card-img custom-image">
        <div class="card-img-top card_body">
          <h5 class="card-title">COLLECTION</h5>
          <p class='card-text'>59 Main Dishes...</p>
        </div>
      </div>
    </div>

    <!-- Add more cards as needed -->
  </div> 
</div> 

<div class="container-fluid " style="height: 35px; background-color: #f2f2f2; padding-top: 10px;"></div>

<!-- Services  -->

<section id="services">

  <div class="container">
    <h1 class="mt-5 text-center">Food Vision Services</h1>
    <hr>
    
    <!-- Image Recognition Section -->
    <section id="image-recognition" class="my-5">
      <div class="row mx-auto">
        <div class="col-md-5 p-0">
          <img src="{{url_for('static', filename='images/image1.jpeg')}}" class="img-fluid img1" alt="Food Recognition">
        </div>
        <div class="col-md-7" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
          <h2 style="float: right;">Identify Food in Images</h2>
          <p class="fs-5">Our food vision project can accurately identify various types of food in images. Simply upload an image, and our system will recognize the food items present.</p>
        </div>
      </div>
    </section>

    <!-- Ingredient & Recipe Section -->
    <section id="ingredient-recipe" class="my-5">
      <div class="row mx-auto" id="recpie_ing_service">
        <div class="col-md-7" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
          <h2>Ingredients & Recipes</h2>
          <p class="fs-5">Discover the ingredients used in the food items identified by our system. We provide detailed information about each ingredient along with suggested recipes.</p>
        </div>
        <div class="col-md-5 p-0">
          <img src="{{url_for('static', filename='images/image2.jpg')}}" class="img-fluid" alt="Ingredients & Recipes">
        </div>
      </div>
    </section>

    <!-- Nearby Restaurants Section -->
    <section id="nearby-restaurants" class="my-5">
      <div class="row mx-auto">
        <div class="col-md-5 p-0">
          <img src="{{url_for('static', filename='images/image3.webp')}}" class="img-fluid" alt="Nearby Restaurants">
        </div>
        <div class="col-md-7" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
          <h2>Nearby Restaurants</h2>
          <p class="fs-5">Explore nearby restaurants that serve the food items you've identified. Our system provides location-based recommendations so you can easily find the food you're craving.</p>
        </div>
      </div>
    </section>

  </div>

</section>
{% endblock container %}
