{% extends "base.html" %}

{% block content %}

    <section class="section">
        <div class="div1">
            <div class="subdiv">
                <h2>Foodvision</h2>
            <p>Embark on a gastronomic journey with Food Vision – where cutting-edge detection technology meets culinary exploration. 🍲 Unleashing the power to effortlessly detect and identify a myriad of dishes, Food Vision goes beyond the surface to reveal the intricacies of each plate. 🌐💡 Curious about what's on your plate? Food Vision not only identifies but also provides insightful information about the dishes it encounters, making your culinary adventure both seamless and enriching. 🚀👨‍🍳 Embrace a world where technology meets taste, and let Food Vision be your guide to a visually delectable experience. 📸🍴 #FoodVision #CulinaryTech #FoodExploration</p>

            <button class="btn btn-success"><a href="/detect" style="text-decoration: none; color: white;">Detect Food</a></button>
            <button class="btn btn-danger"><a href="#" style="text-decoration: none; color: white;">About</a></button>

            </div>

        </div>
        <div class="div2">
            <div class="subdiv">
                <img src="static/images/food_ai_talking.jpeg" alt="" srcset="">
            </div>
            

        </div>
    </section>

{% endblock content %}